@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --clr-white: hsl(0, 0%, 98%);
    --clr-medium-gray: hsl(0, 0%, 41%);
    --clr-black: hsl(0, 0%, 8%);

    --ff-primary: "Epilogue", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--ff-primary);
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: var(--clr-medium-gray);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: inherit;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

.container {
    width: 90vw;
    max-width: 135rem;
    margin-inline: auto;
}

.d-grid {
    display: grid;
}

.btn {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    color: var(--clr-medium-gray);
    padding: .75rem 1.75rem;
    cursor: pointer;
}

.btn:hover {
    color: var(--clr-black);
}

.btn-outline {
    border: 1px solid var(--clr-medium-gray);
    padding: 1rem 1.75rem;
    border-radius: 1.4rem;
}

.btn-outline:hover {
    border-color: var(--clr-black);
}

.dropdown-btn {
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
}

/* .up-arrow {
    display: none;
}

.down-arrow.hide {
    display: none;
} */

.dropdown-btn:hover .menu-item-icon {
    stroke: var(--clr-black);
}

.atf-btn {
    background-color: var(--clr-black);
    color: var(--clr-white);
    border: 1px solid var(--clr-black);
    border-radius: 1.5rem;
    padding: 1.65rem 2.5rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.atf-btn:hover {
    background-color: var(--clr-white);
    color: var(--clr-black);
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

/* HEADER */
.page-header {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    /* border: 1px solid crimson; */
}

.page-header::before {
    content: "";
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .65);
    z-index: 1;
    display: block;
    transform: scale(0);
    transform-origin: top left;
    transition: all 300ms linear;
}

.header-nav {
    display: flex;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 65vw;
    height: 100vh;
    padding-block: 8rem 2.2rem;
    padding-left: .5rem;
    transform: translateX(101%);
    transition: all 450ms linear;
    /* border: 1px solid gold; */
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    /* border: 1px solid blueviolet; */
}

/* .nav-menu-item {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
} */

.dropdown-menu {
    display: flex;
    display: none;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 3.6rem;
    /* max-height: 0; */
    overflow: hidden;
    transition: all 900ms linear;
    /* border: 1px solid lightseagreen; */
}

.dropdown-item {
    display: inline-flex;
    gap: 2rem;
    align-items: center;
}

.dropdown-icon {
    width: 2rem;
}

.dropdown-link {
    color: var(--clr-medium-gray);
}

.dropdown-wrapper.open .dropdown-menu {
    display: flex;
}

.user-actions-wrapper {
    margin-left: auto;
    display: none;
}

.page-header.show::before {
    display: block;
    transform: scale(1);
}

.page-header.show .header-nav{
    transform: translateX(0);
    z-index: 100;
}

/* ABOVE THE FOLD */
.atf-content-wrapper {
    order: 1;
    text-align: center;
    padding: 5rem 1rem 2rem 1rem;
}

.atf-title {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--clr-black);
}

.atf-content {
    color: var(--clr-medium-gray);
    line-height: 1.7;
    font-size: 1.6rem;
    margin-block: 2.4rem;
}

.img-wrapper img {
    width: 100%;
}

.company-logos-wrapper {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 1.8rem; */
}

.company-logo {
    width: 6.8rem;
}

@media screen and (min-width: 799px) { 

    .section-container {
        width: 85vw;
        max-width: 130rem;
        margin-inline: auto;
        /* border: 1px solid red; */
    }

    .header-nav {
        width: 40vw;
    }

    .atf-section {
        /* border: 1px solid darkkhaki; */
        padding-block: 5rem;
    }
}

@media screen and (min-width: 1080px) {
    .d-grid {
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }

    .atf-btn {
        border-radius: 1.15rem;
        padding: 1.25rem 2.4rem;
        font-size: 1.6rem;
    }

    .header-nav {
        width: 32rem;
    }

    .atf-section {
        position: static;
       /* border: 1px solid blue; */
    }

    .atf-content-wrapper {
        order: 0;
        text-align: left;
        padding: 0;
        align-self: center;
        /* border: 1px solid lightseagreen; */
    }

    .atf-title {
        font-size: 7.6rem;
        letter-spacing: 1px;
    }
    .atf-title span {
        display: block;
    }

    .atf-content {
        margin-block: 6rem 3.8rem;
        width: 45ch;
        font-size: 1.5rem;
    }

    .company-logos-wrapper {
        justify-content: space-between;
        width: 85%;
        margin-top: 10rem;
    }
}

@media screen and (min-width: 1280px) {
    .d-grid {
        grid-template-columns: 1.2fr 1fr;
        gap: 7rem;
    }

    .page-header {
        height: 10rem;
    }

    .open-btn {
        display: none;
    }

    .close-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        background-color: #fff;
        position: static;
        z-index: 100;
        top: 0;
        right: 0;
        width: initial;
        height: auto;
        padding-block: 0 0;
        padding-left: 0;
        transform: translateX(0);
        transition: all 450ms linear;
        /* border: 1px solid gold; */
    }

    .nav-menu {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        /* border: 1px solid blueviolet; */
    }

    .user-actions-wrapper {
        /* margin-left: auto; */
        display: block;
    }

    .dropdown-wrapper {
        position: relative;
    }

    .dropdown-btn {
        gap: .85rem;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        margin-left: 0rem;
        padding: 2.5rem;
        border-radius: 1rem;
        box-shadow: 0 0 3rem rgb(0, 0, 0, .1);
        transform: scale(0);
        transform-origin: top center;
        opacity: 0;
        transition: opacity 200ms ease-in;
        overflow: hidden;
        /* border: 1px solid lightseagreen; */
    }

    .dropdown-menu.right {
        right: 0;
    }

    .dropdown-menu.left {
        left: 0rem;
    }

    .dropdown-wrapper.open .dropdown-menu.right{
        transform: scale(1);
        opacity: 1;
    }

    .dropdown-wrapper.open .dropdown-menu.left {
        transform: scale(1) translateX(2rem);
        opacity: 1;
    }

    .dropdown-item {
        gap: 1.25rem;
    }
    
    .dropdown-icon {
        width: 1.8rem;
    }

    .atf-content-wrapper {
        margin-top: 6rem;
        margin-left: 8rem;
    }

    .atf-btn {
        border-radius: 1.4rem;
        padding: 1.6rem 2.5rem;
        font-size: 1.6rem;
    }
}
